@font-face {
  font-family: 'GothamBL';
  src: url('../fonts/gothamBlack.woff2') format('woff2'),
    url('../fonts/gothamBlack.woff') format('woff');
}

@font-face {
  font-family: 'GothamB';
  src: url('../fonts/gothamBold.woff2') format('woff2'),
    url('../fonts/gothamBold.woff') format('woff');
}

@font-face {
  font-family: 'GothamL';
  src: url('../fonts/gothamLight.woff2') format('woff2'),
    url('../fonts/gothamLight.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaB';
  src: url('../fonts/helveticaBold.woff2') format('woff2'),
    url('../fonts/helveticaBold.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaR';
  src: url('../fonts/helveticaRoman.woff2') format('woff2'),
    url('../fonts/helveticaRoman.woff') format('woff');
}
